        <!--========================================================ACCUEIL===================================================-->

    <section class="accueil" id="accueil">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h1>Bonjour</h1>
                    <p>Vous êtes ici sur mon site internet personnel, vous pourrez y retrouver mes différents travaux.
                    </p>
                    <p>N'hesitez pas à regarder, vous êtes ici chez vous.</p>
                    <p>Pour toutes demandes d'emploi, ou de site envoyez moi un Email.</p>
                    <p>Bonne visite et merci.</p>
                    <p><strong>Sébastien REYNAUD</strong></p>
                </div>
            </div>
            <div class="container">
                <div class="row">
                            {{#each posts}}
                    <div class="col-md-4">
                        <div class="card" >
  <img src="{{image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{content}}</p>
    <a href="/article/{{_id}}" class="btn btn-primary">Lire</a>
  </div>
</div>
                    </div>
                            {{/each}}
                    <div class="col-md-8">
                        {{!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{image}}" class="d-block w-100">
                                    <div class="carousel-caption d-none d-md-block">
                                         <h5>{{title}}</h5> 
                                          </div>
                                </div>
                                
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div> --}}
                    </div>
                        <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </section>