<section class="profil">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h3>Mon profil</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                   <p>Nom : {{utilisateur.lastname}}</p> 
                </div>
                <div class="col-md-4">
                    <p>Prénom : {{utilisateur.firstname}}</p>
                </div>
                <div class="col-md-4">
                    <p>Email : {{utilisateur.email}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Contenu</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            {{#each posts}}
                          <tr>
                            <th scope="row">{{moment createDate format="DD/MM/YYYY"}}</th>
                            <td>{{title}}</td>
                            <td>{{content}}</td>
                            <td>
                                <a href="/article/edit/{{_id}}"><i class="fas fa-pencil-alt"></i></a> 
                                <a href="/article/delete/{{_id}}"><i class="fas fa-trash-alt"></i></a>
                            </td>
                         </tr>
                         {{/each}}
                          
                        </tbody>
                      </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                   <a href="/article/add"><button class="btn btn-warning">Ajouter un article</button></a>
                   <a href="/user/delete"><button class="btn btn-danger">Supprimer mon compte</button></a>  
                </div>
            </div>
        </div>
    </section>