<%- include('../layouts/main'); -%>
<%- include ('../partials/navbarAdmin'); -%>

<section class="article-edit">
        <div class="container">
            <form action="/article/edit/post/<%= article._id %>" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md">
                    <label class="label">Titre de l'article : </label>
                        <input class="input form-control" type="text" name="title" value="<%= article.title %>">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <img src="<%= article.image %>" class="rounded mx-auto d-block img-fluid img-thumbnail" alt="Responsive image">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                    <label class="label">Message :</label>
                        <textarea class="textarea form-control" rows="5"
                            name="content"><%= article.content %></textarea>
                        <!-- <textarea name="editor1" id="editor1">&lt;p&gt;Initial editor content.&lt;/p&gt;</textarea>
                            <script>
                                    CKEDITOR.replace( 'editor1' );
                                </script> -->

                    </div>
                </div>
                
                <div class="row">
                        <div class="col-md">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input form-control" id="customFile" name="image">
                                <label class="custom-file-label" for="customFile"></label>
                              </div>
                        </div>
                      </div>
                <div class="row">
                    <div class="col-md">
                        <button class="btn btn-primary">Envoyer</button>
                    </div>
                </div>
            </form>
            <form action="/" method="get">
                <div class="row">
                    <div class="col-md">
                    <button class="btn btn-danger">Annuler</button>
                </div>
            </div>
            </form>
        </div>
    </section>
    <%- include ('../partials/footerAdmin') -%>